.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 2rem;
  background-color: var(--color-primary-100);
  color: white;
  box-shadow: 0 2px 4px rgba(49, 225, 9, 0.225);
}

.navbarBrand {
  width: 130px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.navbarBrand img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
}

.userInfo {
  font-size: 1rem;
  margin: 0 1rem;
}

.navLinks {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.navLinks li {
  margin-left: 1.5rem;
}

.navLinks button {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0;
  transition: opacity 0.2s;
}

.navLinks button:hover {
  opacity: 0.8;
}

.logoutButton {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: var(--color-primary-700);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
}

.logoutButton:hover {
  background-color: #e0f2f1;
  color: var(--color-primary-500); /* Darker teal text */
}

.newAccountButton {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-secondary-500) !important;

  color: var(--color-primary-950) !important;
  font-weight: 300 !important;
  text-transform: uppercase;
  max-width: 140px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 16px;
  }
}
