.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 2rem;
  background-color: var(--color-primary-100);
  color: white;
  box-shadow: 0 2px 4px rgba(49, 225, 9, 0.225);
}

.navbarBrand {
  width: 130px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.navbarBrand img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
}

.navbar > div {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 36px;
  justify-content: space-between;
}

.newAccountButton {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-secondary-500) !important;

  color: var(--color-primary-950) !important;
  font-weight: 300 !important;
  text-transform: uppercase;
  max-width: 140px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 16px;
  }
}
